<h2>登録情報</h2>

<p>ユーザー名：<%= @current_user.name%></p>
<p>誕生日：<%= @current_user.birthday%></p>
<p>性別：<%= @current_user.sex%></p>
<p>ビザ：<%= Visa.find_by(id:@current_user.visa_id).name%></p>
<p>居住地：<%= Prefecture.find_by(id:@current_user.prefecture_id).name%></p>
<p>電話番号：<%= @current_user.tel%></p>
<p>Wechat id：<%= @current_user.wechat_id%></p>
<p>学歴：<%= @current_user.edu_level%></p>
<p>中国語スキル：<%= @current_user.chinese_skill%></p>

<%= link_to("登録情報を編集する", edit_user_registration_path) %>