<h1>ようこそ中国語求人センターへ！</h1>

<%= link_to("マイページを見る", users_admin_index_path) if user_signed_in? %>
<%= link_to("今すぐアカウント登録", new_user_registration_path) unless user_signed_in? %>
<%= link_to("ログインする", new_user_session_path) unless user_signed_in? %>
<%= link_to('ログアウトする', destroy_user_session_path, method: :delete) if user_signed_in? %>
<%= link_to("採用企業の方はこちら",  companies_top_index_path) %>