<%= search_form_for(@q, url:companies_admin_index_path) do |f| %>

  <div class="form-group row">
    <div class="col">
      <%= f.label :name_cont,"名前" %>
      <%= f.search_field :name_cont,class: "form-control" %>
    </div>

    <div class="col">
      <%= f.label :email_cont ,"Email"%>
      <%= f.search_field :email_cont, autofocus: true, autocomplete: "email",class: "form-control" %>
    </div>
    <div class="col">
      <%= f.label :tel_cont,"電話番号" %>
      <%= f.search_field :tel_cont,class: "form-control" %>
    </div>

    <div class="col">
      <%= f.label :wechat_id_cont,"Wechat ID" %>
      <%= f.search_field :wechat_id_cont,class: "form-control"  %>
    </div>
  </div>
  <p>年齢指定</p>
  <div class="row">
    <div class="col">
      <%= f.label :birthday_to_age_gteq,"歳以上" %>
      <%= f.number_field :birthday_to_age_gteq,class: "form-control"  %>
    </div>
    <p>～</p>
    <div class="col">
      <%= f.label :birthday_to_age_lteq,"歳以下" %>
      <%= f.number_field :birthday_to_age_lteq,class: "form-control"  %>
    </div>
  </div>
 <p></p>
  <div class="form-group">
    <%= f.label :sex_eq ,"性別"%>
    <%= f.collection_radio_buttons(:sex, @sexes,:second, :first) do |r| %>
        <div class="form-check form-check-inline">
        <%= r.label(class:"form-check-label"){ r.radio_button + r.text }  %>
      </div>
    <% end %>
    <%= f.label :sex_eq,"設定なし" %>
    <%= f.radio_button(:sex_eq , "") %>
  </div>

  <div class="form-group">
    <%= f.label :prefecture_id_eq ,"居住地"%>
    <%= f.collection_select :prefecture_id_eq , @Prefectures, :id, :name, include_blank: true,class:"form-control" %>

    <%= f.label :visa_id_eq ,"ビザ"%>
    <%= f.collection_select :visa_id_eq , @visas, :id, :name, include_blank: true,class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :edu_level_in,"学歴" %>
    <%= f.collection_check_boxes(:edu_level_in, @edu_levels, :second, :first, include_hidden: false) do |r| %>
        <div class="form-check form-check-inline">
        <%= r.label(class:"form-check-label"){ r.check_box + r.text }  %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :jlpt_in,"日本語能力試験" %>
    <%= f.collection_check_boxes(:jlpt_in, @jlpts, :second, :first, include_hidden: false) do |r| %>
        <div class="form-check form-check-inline">
        <%= r.label(class:"form-check-label"){ r.check_box + r.text }  %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :chinese_skill_in ,"中国語レベル"%>
    <%= f.collection_check_boxes(:chinese_skill_in, @chinese_skills, :second, :first, include_hidden: false) do |r|   %>
      <div class="form-check form-check-inline">
        <%= r.label(class:"form-check-label"){ r.check_box + r.text }  %>
      </div>
    <% end %>
  </div>

  <%= f.submit "検索",class:"btn btn-primary" %>
<% end %>