<% flash.each do |name, msg| %>
  <div class="alert alert-info"><%= msg %></div>
<% end %>
<h2>メッセージ一覧</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>最終更新日</th>
        <th>送信元企業名</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @conversations.each do |conversations| %>
        <tr>
          <td><%= conversations.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= conversations.company.company_name %></td>
          <td><%= link_to("メッセージ詳細",conversation_messages_path(conversations),id:"messageDetailLink") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to("登録情報の確認・編集", users_admin_path(@current_user)) %>