<h2 id="user_information">登録情報</h2>

<p>ユーザー名：<%= @user.name%></p>
<p>誕生日：<%= @user.birthday%></p>
<p>性別：<%= @user.sex%></p>
<p>ビザ：<%= Visa.find_by(id:@user.visa_id).name%></p>
<p>居住地：<%= Prefecture.find_by(id:@user.prefecture_id).name%></p>
<p>電話番号：<%= @user.tel%></p>
<p>Wechat id：<%= @user.wechat_id%></p>
<p>学歴：<%= @user.edu_level_i18n%></p>
<p>日本語能力試験：<%= @user.jlpt_i18n%></p>
<p>中国語スキル：<%= @user.chinese_skill_i18n%></p>
<p><%= image_tag @user.image.url if @user.image.present? %></p>

<%= link_to("登録情報を編集する", edit_user_registration_path) if user_signed_in? %>
<%= link_to('メッセージを送る', conversations_path(company_id: current_company.id, user_id: @user.id), method: :post) if company_signed_in? %>